<nav class="bg-green-700 text-white p-4 flex justify-between">
<a href="/" class="font-bold">GreenBytes</a>
<div class="space-x-4">
<a href="/about">About</a>
<a href="/articles">Articles</a>
<a href="/contact">Contact</a>
</div>
</nav>